[submodule "lilibs/Utilities-OG"]
	path = lilibs/Utilities-OG
	url = https://github.com/true-og/Utilities-OG
[submodule "libs/Utilities-OG"]
	path = libs/Utilities-OG
	url = https://github.com/true-og/Utilities-OG
